footer
	padding 20px 0
	text-align: center
	font-size: 14px
	h5
		font-size: 20px;
		color: #000
		margin 0
		font-family: "OpenSansBold", sans-serif;
	p
	#conditions
		font-size: 14px;
		color: #666
		line-height: 1.786;
	#conditions
		text-decoration: underline
		&:focus
			color #666
			text-decoration: none
		&:hover
			color #666
			text-decoration: none
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			border-radius: 20px
			background-color: #ffbe72
			width: 32px;
			height: 32px;
			color rgb(11,23,27)
			line-height 32px
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)