-var full_1 = '18 900р.'
-var full_2 = '31 900р.'

-var sale_1 = '1 000р.'
-var sale_2 = '2 000р.'

-var today_1 = '17 900р.'
-var today_2 = '29 900р.'

-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3396&clean=true&lg=ru'
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3402&clean=true&lg=ru'

-var prep_bonus = '1 000р.'
-var prep_cred = '2 000р.'
-var prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3466&clean=true&lg=ru'