-var full_1 = '18 900р.'
-var full_2 = '31 900р.'

-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3553&clean=true&lg=ru'
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3558&clean=true&lg=ru'