-var head_url = 'https://abramova.mastervision.su/metaphysics-webinar/thanks/';
-var head_title = 'Получите материалы для предстоящего мастер-класса и бонус';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';
//- <?php require_once ('date/date.php'); ?>

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/promo/main
		include pug/promo/second-2
		include pug/main/footer
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		include pug/scripts/body_bottom_scripts