section#for
    .container
        h3.for-title.title-decorated 
            span Этот мастер-класс для вас, если...
        .row
            .col-md-6.col-sm-6
                p.for-text Вас, либо ваших близких, мучают болезни
            .col-md-6.col-sm-6
                p.for-text Вы боитесь перемен, чувствуете себя неспокойно
        .row
            .col-md-6.col-sm-6
                p.for-text Страхи не дают жить полной жизнью
            .col-md-6.col-sm-6
                p.for-text У Вас низкий жизненный тонус
        .row
            .col-md-6.col-sm-6
                p.for-text Хотите стать специалистом и помогать не только себе, но и окружающим
            .col-md-6.col-sm-6
                p.for-text Хотите стать востребованным специалистом с высоким заработком
        p.text-decorated.text-decorated-for Посетив мастер-класс по метафизике, Вы не только сможете диагностировать первопричины Вашего состояния, но и 
            span научитесь эффективно бороться  с источником Ваших недугов