section#last
	.container
		.last-container
			h3.last-container-title Регистрируйтесь на бесплатный мастер-класс прямо сейчас!
			p.last-container-text Этот мастер-класс — для тех, кто готов посмотреть правде в глаза и пересмотреть события прошлого через объективное видение , а не субъективное суждение
			button.button.button-last(data-toggle="modal" data-target="#form-modal") Получить приглашение