section#main
	.container
		p.pre-main Бесплатный онлайн-мастер-класс
		.row
			.col-md-6.col-sm-6
				h1.main-title 
					span Метафизика - 
					small 3 шага к восстановлению 
					| души и тела
				p.main-date с NN по NN месяца, в 19:00мск
			.col-md-6.col-sm-6
				button.button.button-main(data-toggle="modal" data-target="#form-modal") Получить приглашение
		p.main-author Автор: 
			span Жанна Абрамова