section#plan
	.container
		h3.plan-title.title-decorated 
			span План мастер-класса
		.row
			.col-md-4.col-sm-5
				.day-about.day-about-1
					.day-about-img.day-about-img-1
					h3.day-about-title.day-about-title-1 День 1
					h4.day-about-subtitle Задача первого дня:
					p.day-about-bq «Увидеть, что всё, что с нами происходит — заложено в наших родовых «программах»
					p.day-about-bq А главное, я вам покажу, как выискивать ключевую точку, сформировавшую череду неудач, болезней, неприятностей»
					h5.day-about-bonus Бонус:
					p.day-about-text Техника «Три шага для быстрых личностных изменений»
			.col-md-8.col-sm-7
				.day-info.day-info-1
					p.day-info-text.day-info-text-bold Нашей жизнью управляют травмы прошлого
					p.day-info-text Мы принимаем решения, действуем, строим свое будущее, исходя из опыта прошлых событий
					p.day-info-text К счастью и одновременно к сожалению, мы наследуем выживательную модель, которая, с одной стороны, велит нам, как жить, оберегая от повторения травм прошлого, с другой стороны, блокирует любое движение и развитие
					p.day-info-text То есть в нас вшита некая модель судьбы, которую мы бессознательно проживаем. Но это не наша судьба, иначе мы бы не болели, не хандрили, не страдали
					p.day-info-text.day-info-text-bold А чья это судьба?
					p.day-info-text.day-info-text-bold Зачем мы живем какими-то непонятными установками и предписаниями?
					p.day-info-text.day-info-text-bold Мы наглядно рассмотрим:
					ul.day-info-list
						li за кого именно вы проживаете жизненный опыт, и какие задачи необходимо преодолеть, чтобы выйти в свою собственную судьбу
						li видимые и бессознательные причины болезней, неудач, безденежья, бездетности и всего того, что портит наше существование
		.row
			.col-md-4.col-sm-5.col-md-push-8.col-sm-push-7
				.day-about.day-about-2
					.day-about-img.day-about-img-2
					h4.day-about-subtitle Во второй день:
					p.day-about-bq Мы проделаем технику «Травма моего рода», чтобы прочувствовать тот «раскол», который привел нас к текущим проблемам и болезням
					h5.day-about-bonus Бонус:
					p.day-about-text Техника «Мой страх». Как быстро справиться со страхом и саботажем перед любыми действиями
			.col-md-8.col-sm-7.col-md-pull-4.col-sm-pull-5
				.day-info.day-info-2
					ul.day-info-list
						li Почему дети одного рода болеют разными заболеваниями
						li Что необходимо предпринять, чтобы не унаследовать генетические заболевания
						li Наследственные травмы
					p.day-info-text.day-info-text-bold Помимо заболеваний мы так же наследуем травмы через повторение негативных ситуаций
					p.day-info-text Часто мы проживаем негативные события, которые являются отзеркаливанием травм нашего рода
					p.day-info-text Кто-то в родовой системе поступил «не по совести», а нам приходится расхлебывать. Поврежденная родовая система не может порождать цельное потомство
					p.day-info-text «Поломки» рода необходимо устранять для восстановления целостности личности. И техники Метафизики нам в помощь
		.row
			.col-md-4.col-sm-5
				.day-about.day-about-3
					.day-about-img.day-about-img-3
					h3.day-about-title.day-about-title-3 День 3
					h4.day-about-subtitle На третий день:
					p.day-about-bq Мы проделаем технику, которая даст вам почувствовать ваши родовые ресурсы, которыми вы можете пользоваться по праву вашего рождения
					h5.day-about-bonus Бонус:
					p.day-about-text Манифестация изобилия. Мы разблокируем то, что долгое время находилось «под замком» и интегрируем изобилие в ваше сознание
			.col-md-8.col-sm-7
				.day-info.day-info-3
					p.day-info-text.day-info-text-bold Почему не все люди исцеляются?
					p.day-info-text Самосаботаж актуален для проработки в любой сфере жизни: деньги, отношения, дети, развитие, здоровье и т. д. Сегодня мы поговорим на такие актуальные темы, как лень, низкий жизненный тонус, отсутствие мотивации, страх, невозможность масштабировать свои действия для получения изобилия
					p.day-info-text.day-info-text-bold Почему одни люди продвигаются по жизни и получают результат, другие топчутся на месте или еще хуже — теряют наработанное?
					p.day-info-text Часто мы путаем страх с интуицией. Идя на поводу у страха, делаем неправильный выбор и принимаем решения, приводящие нас в тупик. Бег по кругу — это не фатальность, это наше бессознательное решение не сталкиваться с развитием. Поэтому наш мозг нас пугает, выдавая страх за интуицию
					p.day-info-text Сегодня мы проделаем технику, которая поможет в будущем отличать интуицию от страха и давать нам ясное понимание куда нам стоит двигаться, а куда нет. Изобилие. Состояние, к которому стремится все человечество. Но вот почему-то кто-то изобилует ресурсами, а кто-то болезнями и проблемами. Как выйти из болезненного изобилия и перейти на уровень ресурсного изобилия