section#revs
	.container
		h3.revs-title Эксперт федеральных каналов
		img(src="img/collage.jpg", alt="Коллаж")#collage
		h3.revs-title Что говорят известные люди
		.row
			.col-md-4
				.rev
					.rev-head
						.rev-img.rev-img-1
						.rev-head-info
							h4.rev-head-title Эвелина Бледанс
							p.rev-head-text Актриса, телеведущая
					.rev-body
						p “Мне стало легче и я теперь смогу продолжать жить дальше”
						p Я поняла, что в моей жизни был предрешен развод
						p Все думала: что я сделала не так что брак распался, можно ли было его сохранить, можно ли было его вернуть
						p После консультации у Жанны и работы с метафорическими картами я осознала: это была неизбежность, моей вины нет
						p Наконец я успокоилась и поняла, что в своей жизни я все сделала правильно. Мне стало легче и я теперь смогу продолжать жить дальше
			.col-md-4
				.rev
					.rev-head
						.rev-img.rev-img-2
						.rev-head-info
							h4.rev-head-title Лариса Рубальская
							p.rev-head-text Российская поэтесса, автор текстов песен, переводчица
					.rev-body
						p “Спасибо за то, что через метафорические карты ты показала суть вещей”
						p Как здорово, что существуют специалисты, которые говорят языком сути, а не морали и долга: так, как оно есть в жизни, а не так, как “должно быть”. Спасибо за то, что через метафорические карты ты показала суть вещей
			.col-md-4
				.rev
					.rev-head
						.rev-img.rev-img-3
						.rev-head-info
							h4.rev-head-title Тимофей Баженов
							p.rev-head-text Журналист, автор и ведущий телепрограмм «Дикий мир», «Сказки Баженова», «Рейтинг Баженова»
					.rev-body
						p “Я стал лучше понимать женщин”
						p Я никогда не слушал женщин, даже если это психологи. Благодаря тебе и твоим ассоциативным картам я стал лучше понимать женщин и, уже в своем возрасте, видеть женскую суть. Спасибо тебе за то, что познакомила с женским миром: таким, какой он есть, а не каким мы, мужчины, его придумываем