section#second
	.container
		.row
			.col-md-8.col-sm-7
				p.second-text Зачастую болезнь — не враг, а союзник. Союзник, который защищает от невосполнимой душевной боли. Ведь боль души может привести к непоправимому — уходу из жизни
				p.second-text Поэтому, чтобы человек не сошел с ума и не свел счеты с жизнью, к нему на помощь приходит болезнь
				p.second-text Абсурд, правда? Но, увы, это факт
			.col-md-4.col-sm-5
				.video-wrapper.video-wrapper-second
					iframe(src="https://www.youtube.com/embed/" allowfullscreen)
		p.text-decorated Поэтому в течении трех дней мастер-класса нам необходимо разобраться в данном механизме, чтобы пересмотреть наши болезни и начать с ними «союзничать», а не враждовать
		h3.second-title 
			span Метафизика – 
			| &nbsp;методика, которая позволяет найти первопричину заболевания
		p.second-text Первопричина заболевания – внутренний конфликт, с которым человек не справился в момент травмирующей ситуации. Как правила, эту ситуацию мы не помним, либо память о травмирующем родовом событии передана нам на уровне генной памяти
		p.second-text Задача метафизики — найти это событие, устранить конфликт, активировать ресурс и позволить этому ресурсу интегрироваться в наше сознание. Метафизика – это наука о первопричинах проблематики. У каждой проблемы существуют свои корни. Только найдя и устранив эти корни, можно избавиться от любого рода проблемы и заболевания