.modules-container-day#m-1-day-1
	h5.modules-container-days-title День 1 
		span Биология сознания
	ul.modules-days-list
		li Биология сознания
		li Сознание и подсознание. Тройственный ум и клеточные органеллы
		li Эмбриональная клетка
		li Сознание: Внутреннее Я и Центр осознанности
		li Гены и пиковые состояния
		li Разница между исцелением и обходом исцеления травмы
		li История семьи и нагрузка родовой системы
.modules-container-day#m-1-day-2
	h5.modules-container-days-title День 2 
		span Безопасность и выживание
	ul.modules-days-list
		li Травма, приводящая к заболеванию
		li Травма – это карма или…?
		li Выживательные инстинкты, оберегающие травму
		li Вторичная выгода травмы
		li Вторичная выгода заболевания
		li Привычки, управляющие нашей судьбой
		li Выгоды от диссоциативных состояний
		li Устранение вторичных выгод
		li Безопасность и  выживание. Выживание и заболевание. Заболевание как безопасность
.modules-container-day#m-1-day-3
	h5.modules-container-days-title День 3 
		span Страхи и фобии
	ul.modules-days-list
		li Страхи и фобии
		li Отправная точка страхов
		li Травмы родовых систем как кармическая проработка опыта
		li Генетические заболевания как травма систем
		li Слои травм и исцеление по принципу «нейтрализация эмоциональных симптомов»
		li Согласованность и рассогласованность умов
		li Рассогласованность умов  как первопричина заболеваний
.modules-container-day#m-1-day-4
	h5.modules-container-days-title День 4 
		span Эпигенетика
	ul.modules-days-list
		li Эпигенетика. Моменты развития, предшествующие зачатию
		li История яйцеклетки
		li Создание яйцеклетки
		li Овуляция
		li Оплодотворение яйцеклетки
		li Травма яйцеклетки 
		li Исцеление травмы яйцеклетки
.modules-container-day#m-1-day-5
	h5.modules-container-days-title День 5 
		span Травмы как память вторжения
	ul.modules-days-list
		li Сперматозоид. История сперматозоида
		li Травма сперматозоида
		li Травма личных границ
		li Травма насилия как  память вторжения
		li Исцеление травмы насилия
.modules-container-day#m-1-day-6
	h5.modules-container-days-title День 6 
		span Травмы при беременности
	ul.modules-days-list
		li Травма во время беременности
		li Иллюзия защищенности от инстинкта возвращения в перинатальный период
		li Пиковые состояния беременности как защитный механизм ребенка
		li Роды и иллюзия разъединенности
		li Процесс родов
		li Перерезание пуповины
		li Смерть плаценты как иллюзия смерти ресурсов
.modules-container-day#m-1-day-7
	h5.modules-container-days-title День 7 
		span Самосаботаж и заболевания
	ul.modules-days-list
		li Заболевания как метафизический объект
		li Заболевания и беременность
		li Влияние токсинов на плод
		li Влияние плода на внутриутробный стресс
		li Самосаботаж как путь к заболеваниям
		li Почему люди не всегда исцеляются. Причины удержания заболевания и летальный исход как устранение самосаботажа
.modules-container-day#m-1-day-8
	h5.modules-container-days-title День 8 
		span Анатомия и метафизика
	ul.modules-days-list
		li Понятие личных границ. Чистка от паразитов
		li Болезнь Эго. Умственные расстройства
		li Анатомия и метафизика. Основные принципы 
		li Анатомические осознания.  Система коммуникаций нашего тела
.modules-container-day#m-1-day-9
	h5.modules-container-days-title День 9 
		span Инструменты исцеления
	ul.modules-days-list
		li Сеанс исцеления. От подготовки к сеансу до его окончания
		li Пошаговое проведение сессии
		li Инструменты исцеления
		li Интеграция ресурсов
		li Манифестация здоровья
		li Признание и проработка выживательных инстинктов
		li Разотождествление болезни как выживание  