.modules-container-day#m-2-day-1
	h5.modules-container-days-title День 1 
		span Женские заболевания 
	ul.modules-days-list
		li Применение метафизики в контексте целительства
		li Травма насилия/вторжения любого происхождения как причина женских заболеваний
		li Мужчины нашего рода. Травмы созависимости
		li Жертвенность, антиженственность и отказ от сексуальности
		li Метафизика бесплодия
		li Проработка пиковых состояний, которые сформировали женские заболевания
.modules-container-day#m-2-day-2
	h5.modules-container-days-title День 2 
		span Наши ткани, кости и суставы
	ul.modules-days-list
		li Мышцы. Соединительные ткани. Суставы
		li Напряжение. Жесткость. Упрямство. Негибкость. Ментальная «старость»
		li Травма гибкости ума как причина заболеваний соединительной ткани
		li Догмы. Морали. Сценарии . Шаблоны восприятия, сформировавшие соматику соединительных тканей
		li Проработка принципов и жёсткого мировоззрения
.modules-container-day#m-2-day-3
	h5.modules-container-days-title День 3 
		span Защитные системы организма
	ul.modules-days-list
		li Лимфатическая и иммунная  система
		li Аутоиммунные заболевания
		li Доверие. Целостность. Стремление жить. Отсоединенность. Рассогласованность с душой
		li Тяжелая органика как неосознанный суицид
		li Исцеление причин неосознанного самоустранения
.modules-container-day#m-2-day-4
	h5.modules-container-days-title День 4 
		span Кто еще живет в нашем теле?
	ul.modules-days-list
		li Аллергии. Кожные заболевания. Бронхиальная астма
		li Травма личных границ
		li Вирусы. Бактерии. Грибы
		li Энергетические доноры и вампиры. Жертвы и тираны. Спасатели и инфантилы.
		li Унижения. Вина. Стыд. Самонаказание
.modules-container-day#m-2-day-5
	h5.modules-container-days-title День 5 
		span Метафизика слуха и зрения
	ul.modules-days-list
		li Метафизика слуха и зрения
		li Ретикулярная Активирующая Система
		li Восприятие истины. Что есть истина? Субъективное/объективное восприятие происходящего
		li Иллюзия восприятия. Диссонанс ожидаемого и получаемого
		li Причины поражения  слухового и зрительного нерва как расхождение в восприятии истины. Восстановление истины. Родовые разногласия истины
.modules-container-day#m-2-day-6
	h5.modules-container-days-title День 6 
		span Системы нашего тела
	ul.modules-days-list
		li Невралгия
		li Шизофрения
		li Нервная система
		li Эндокринная система
		li Циркуляторная система
		li Вегето-сосудистая система. Панические атаки.
		li Адаптация индивидуума в рамках социума. Самопозиционирование и самовосприятие. Отрицание самоценности. Мезальянс. Кармические отработки
.modules-container-day#m-2-day-7
	h5.modules-container-days-title День 7 
		span Гормональная система и миссия души
	ul.modules-days-list
		li Гормональная система
		li Гормональная недостаточность щитовидной железы
		li Новообразования как гормональный сбой
		li Драма контроля
		li Инвазия. Потеря собственного места/личности
		li Провальная миссия души. Сценарная судьба
.modules-container-day#m-2-day-8
	h5.modules-container-days-title День 8 
		span Чистые сосуды, здоровое сердце
	ul.modules-days-list
		li Варикозное расширение вен
		li Повышенное/пониженное кровяное давление
		li Сердце/сосуды/кровь
		li Спазмы. Приступы.
		li Любовь. Движение вперед. Проблемы с получением
		li Создание новой части «Я», ответственной за борьбу со спазмами
.modules-container-day#m-2-day-9
	h5.modules-container-days-title День 9 
		span Внутренние органы, корни заболеваний
	ul.modules-days-list
		li Пищеварительная система
		li Внутренние органы. Метафизические корни прочих заболеваний внутренних органов
		li Внутреннее самбо
		li Россыпь болезней как  дисбаланс шкалы ценностей
		li Возвращение энергии жизни через перезачатие
		li Техника ПЕРЕЗАЧАТИЯ
.modules-container-day#m-2-day-10
	h5.modules-container-days-title День 10 
		span Костная система - жизненный стержень
	ul.modules-days-list
		li Проблемы спины, костей
		li Опорно -двигательный аппарат
		li Остеопороз
		li Созависимость как разрушение костной системы
		li Лояльность к системе как отсутствие собственного жизненного стержня
		li Сепарация с травмами родовой системы для восстановления целостности костной опоры
.modules-container-day#m-2-day-11
	h5.modules-container-days-title День 11 
		span Новообразования
	ul.modules-days-list
		li Опухоль
		li Доброкачественная  опухоль / онкология
		li Отправные точки рака. Полная рассогласованность  умов
		li Нарушение электромагнитных сигналов/разрушение соединительной ткани
		li Помощь раковым больным – протокол лечения
.modules-container-day#m-2-day-12
	h5.modules-container-days-title День 12 
		span Манифестация и интеграция здоровья
	ul.modules-days-list
		li Манифестация здоровья
		li Манифестация будущего
		li Согласованность с Землей
		li Интеграция здоровья через полученные ресурсы
		li Объединение души и тела
		li Медитация «Перезачатие»