#main
	padding 60px 0 35px
	background-color: #1b1b1b
.main-title
	text-align: center
	font-size: 28px
	font-family: RO
	margin-bottom: 25px
	color: #fff
	span
		display: inline-block
		color: #ffbe72
.video-wrapper-main
	max-width 560px
.button-main
	margin 15px auto 25px