#author
	padding: 85px 0 70px
	background-color: #1B1B1B
	color #fff
.author-title
	font-size: 24px;
	font-family: "RussoOne", sans-serif
	border: 3px solid #FFBF6E
	border-radius: 15px
	line-height: 50px
	padding 0 57px 0 125px
	position relative
	width 100%
	max-width 513px
	margin 0 0 50px
	&:before
		content: ''
		position: absolute
		display block
		top -10px
		left 35px
		background-image url(../img/about_title_dna.jpg)
		background-repeat no-repeat
		background-position: center
		background-size contain
		width 80px
		height 70px
.author-list
	margin-left: 20px
	li
		font-size: 20px
		margin-bottom: 25px
.author-text
	font-family: "OpenSansItalic",sans-serif
.author-img
	width 308px
	height 308px
	background-image url(../img/about_img.jpg)
	background-repeat no-repeat
	background-position: center
	background-size contain
	border-radius: 50%
	margin: 0 auto 45px
.certs-title
	text-align: center
	font-size: 24px
	font-family: "RussoOne", sans-serif
	margin-bottom: 24px
.carousel-inner > .item
	padding 0 10px
.cert-link
	display block
	background-color: #fff
	overflow hidden
	border-radius: 30px
.cert-img
	height 230px !important
	object-fit: cover
	object-position: center
	width 100%
	margin 0 auto
.carousel-indicators
	position: static
	margin 0 auto
	.active
		width 5px
		height 5px
		border: 3px solid #fff
		margin 2px 5px 0
.carousel-indicators li
	width 5px
	height 5px
	border: 0
	background-color #fff
	margin 0 5px
.author-img-mobile
	display: none