#for
	padding 10px 0 60px
.title-decorated
	font-size: 24px;
	font-family: "RussoOne", sans-serif
	position relative
	border: 3px solid
	border-radius: 15px
	line-height: 50px
	padding 0 56px 0 127px
	width 100%
	max-width 615px
	margin 0 auto 80px
	&:before
		content: ''
		position: absolute
		display block
		width 83px
		height 70px
		background-image url('../img/title_decorated_dna.jpg')
		background-repeat no-repeat
		background-position: center
		background-size contain
		top -10px
		left 30px
.for-text
	width 100%
	max-width 370px
	margin 0 auto 70px
	padding 0 0 0 110px
	background-image url(../img/check.png)
	background-repeat no-repeat
	background-position: left center
	background-size: contain
.text-decorated-for
	padding 25px 110px 25px 200px
	margin-top: 70px
	&:before
		transform: rotateX(180deg)
		right auto
		left 70px