#main
	padding 50px 0
	background-color: #747474
	background-image url(../img/backgrounds/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	color #fff
.pre-main
	font-size: 24px;
	line-height: 1
	text-align: center;
	width 100%
	max-width 490px
	margin 0 auto 60px
	padding 12px 0 18px
	background-image url(../img/pre_img.png)
	background-repeat no-repeat
	background-position: center
	background-size 100% 100%
.main-title
	font-size: 50px
	font-family: "RussoOne", sans-serif
	span
		color #ffbe72
		display: inline-block
	small
		font-size: 33px
		display: inline-block
.main-date
	font-size: 24px
	margin-top: 40px
.button-main
	background-color: rgb(38, 134, 196);
	box-shadow: 0px 3px 14.88px 1.12px rgba(0, 0, 0, 0.56);
	width 100%
	max-width: 360px;
	color #fff
	line-height: 45px
	transition:  all .3s ease
	margin: 248px 0 0 auto
	&:hover
		color initial
		background-color: #ffbe72
.main-author
	text-align: center
	margin:  70px auto 0
	font-size: 24px
	background-image url(../img/author_border_img.png)
	background-repeat no-repeat
	background-position: center
	background-size 100% 100%
	width 100%
	max-width 490px
	padding: 8px 60px 17px 90px;
	span
		font-family: "OpenSansExtraBold", sans-serif
		color: #ffbe72
		padding-left: 10px