#main
	padding 50px 0
	background-color: #747474
	background-image url(../img/backgrounds/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top -100px
	background-size: cover
	color #fff
.pre-main
	font-size: 24px;
	line-height: 1
	text-align: center;
	position relative
	margin 0 auto 60px
	height: 44px
	width 100%
	max-width 490px
	&:after
		content ''
		display block
		position: absolute
		top 4px
		right -10px
		background-image url(../img/title_dna.png)
		background-repeat no-repeat
		background-position: center
		background-size 100% 100%
		width 31px
		height 53px
	p
		position: absolute
		top 5px
		left 0
		width 100%
		max-width 460px
		margin 0 auto
		border-radius: 15px 0 0 15px
		border-top: 1px solid #CECFD0
		border-right: 1px solid transparent
		border-bottom: 2px solid #F1F1F1
		border-left: 2px solid #F2F2F2
		line-height: 44px
		padding 0 10px 0 30px
.main-title
	font-size: 50px
	font-family: "RussoOne", sans-serif
	span
		color #ffbe72
		display: inline-block
	small
		font-size: 33px
		display: inline-block
.main-date
	font-size: 24px
	margin-top: 40px
.button-main
	background-color: rgb(38, 134, 196);
	box-shadow: 0px 3px 14.88px 1.12px rgba(0, 0, 0, 0.56);
	width 100%
	max-width: 360px;
	color #fff
	line-height: 45px
	transition:  all .3s ease
	margin: 248px 0 0 auto
	&:focus
		color: #fff
	&:hover
		color initial
		background-color: #ffbe72
.main-author
	text-align: center
	margin:  70px auto 0
	font-size: 24px
	background-image url(../img/author_border_img.png)
	background-repeat no-repeat
	background-position: center
	background-size 100% 100%
	width 100%
	max-width 490px
	padding: 8px 60px 17px 90px;
	span
		font-family: "OpenSansExtraBold", sans-serif
		color: #ffbe72
		padding-left: 10px