@media screen and (min-width 1900px)
	#main
		padding 150px 0
		background-position: center top -200px
	.pre-main
		margin-bottom: 90px
	.main-date
		margin-top: 60px
	.button-main
		margin-top: 268px
	.main-author
		margin-top: 100px
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.day-about-bq
	.day-about-text
	.day-about-bonus
		font-size: 18px
@media screen and (max-width 1199px)
	#main
		background-position: center top
	.text-decorated-for:before
		top -12px
	.day-info
		padding-top: 0
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		text-align: center
		float: none
	.contact
		display: inline-block
		margin 5px 5px 0
	.text-decorated::before
		background-color #fff
		height 250px
	.text-decorated-for
		margin-top: 40px
	.text-decorated-for::before
		top -27px
	.author-title
		line-height: 1.5
		padding 10px 57px 10px 125px
		&:before
			height 113px
			background-color: #1b1b1b
	.day-info
		padding-left: 0
		padding-right: 0
	.last-container-title
		position: static
	.author-img
		width 260px
		height 260px
	.button-main
		margin-top: 365px
	.day-about-img
		width 250px
		height 250px
	.day-about
		padding-top: 150px
@media screen and (max-width 767px)
	#main
		text-align: center
	.button-main
		margin 40px auto 0
	.main-title small
		display: block
	.video-wrapper-second
		max-width 650px
		margin 0 auto 30px
	.text-decorated-for
		margin 20px 0 0
	.author-title::before
		height 74px
	.author-img-desktop
		display: none
	.author-img-mobile
		display block
		margin-left: 0
	.certs-title
		margin-top: 30px
	#certs-slider
		width 300px
		margin 0 auto
	.day-about
		max-width 100%
	.day-about-bq
	.day-about-text
		text-align: center
	.day-about-2
		float: none
	.day-about
		margin-bottom: 30px
	#second
	#author
	#last
		padding 40px 0
	#for
		padding 10px 0 40px
	#plan
		padding: 40px 0 10px
	.button-last
		position: relative
		top: 0
		z-index 9
		margin-top: 40px
		box-shadow: none
	.last-container
		padding 40px 25px
	.text-decorated
		padding 25px 40px
		text-align: center
		&:before
			content: none
	.for-text
	.title-decorated
		margin-bottom: 40px
	.pre-main
		border-radius: 15px 0 0 15px;
		border-top: 1px solid #cecfd0;
		border-right: 1px solid transparent;
		border-bottom: 2px solid #f1f1f1;
		border-left: 2px solid #f2f2f2;
		min-height 44px
		height auto
		// max-width 450px
		padding 4px
		&:after
			top -3px
			right -38px
		p
			line-height: 1.4
			border: 0
			border-radius: 0
			max-width 100%
			position: static
@media screen and (max-width 650px)
	.pre-main
		border-right: 2px solid #f2f2f2;
		border-radius: 15px
		display: flex
		align-items: center
		justify-content: center
		padding 10px
		&:after
			position: static
			margin-left: 10px
		p
			padding 0
			text-align: center
	.main-author
		border: 2px solid #f2f2f2;
		border-radius: 15px
		background-image none
		position relative
		padding 10px
		display: table
		line-height: 2
		&:before
			content: '';
			display: table-cell
			position: static
			vertical-align: middle
			background-image: url("../img/title_dna.png");
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			width: 31px;
			height: 53px;
			// margin-top: 10px
	.title-decorated
	.author-title
		position relative
		padding 10px
		display: table
		line-height: 2
		&:before
		span
			position: static
			display: table-cell
			vertical-align: middle
@media screen and (max-width 485px)
	header
		padding: 10px 0
	#logo
		width 160px
		margin-bottom: 0
	.contacts
		line-height: 15px
	.contact
		font-size: 14px
	#main
		padding 40px 0
	.pre-main
		margin-bottom: 20px
		font-size: 20px
		&:after
			width: 16px;
			height: 33px;
	.main-title
		font-size: 36px
		small
			font-size: 26px
	.main-date
		font-size: 20px
		margin-top: 20px
	.button-main
		margin-top: 30px
	.main-author
		margin-top: 35px
		font-size: 20px
		line-height: 1.6
		&:before
			width: 16px;
			height: 33px;
			background-size contain
	.text-decorated
		padding 15px 20px
		margin 30px 0 40px
	.author-title, .title-decorated
		line-height: 1.3
		&:before
			width: 40px;
			height: 33px;
	.for-text
		padding 0 0 0 35px
		max-width 100%
		background-size: 25px
		margin-bottom: 25px
	.text-decorated-for
		margin  0 
	.author-title
		text-align: center
	.last-container
		padding 30px 20px
	.button-last
		margin-top: 25px
	.modal-title
	.button
		font-size: 22px
@media screen and (max-width 380px)
	.pre-main
	.main-date
	.main-author
	.button
		font-size: 18px
	.main-title
		font-size: 30px
		line-height: 1.3
		small
			font-size: 24px
	.author-title, .title-decorated,.second-title
	.day-about-subtitle
		font-size: 22px
	.author-list li
		font-size: 18px
		margin-bottom: 10px
	#certs-slider
		width 250px
	.cert-img
		height 150px !important
	#author, #last, #second
		padding 30px 0
	#plan
		padding 30px 0 10px
	#for
		padding 10px 0 30px
	.author-img-mobile
	.day-about-img
		width 215px
		height 215px
	.day-about-title
		font-size: 26px
	.day-about
		padding 100px 10px 20px
	.day-about-bq
	.day-about-bonus
	.day-info-list li
		margin-bottom: 10px
	.day-info-text
		margin-bottom: 15px
	.day-info
		margin-bottom: 35px
	.last-container-title
		font-size: 22px
		line-height: 1.3
		margin-bottom: 10px
	footer
		padding 15px 0
		font-size: 12px
	.last-container
		padding 20px 15px
	.button-main
		line-height: 1.2
		padding 10px 0
	.modal-title
		font-size: 20px
		margin-top: 20px
	.button-last
		line-height: 50px
		margin-top: 20px