#revs
	padding 50px 0 20px
.revs-title 
	text-align: center
	font-size: 24px;
	font-family: "RussoOne", sans-serif;
	margin-bottom: 35px;
#collage
	display block
	margin  0 auto 40px
	width 100%
	max-width 850px
.rev
	width 100%
	max-width 350px
	margin 0 auto
	&-head
		display: table
		width 100%
		margin-bottom: 20px
		&-info
			display: table-cell
			vertical-align: middle
			padding-left: 10px
		&-title
			font-size: 20px
			font-family: "OpenSansBold", sans-serif
		&-text
			font-size: 13px
	&-body
		padding: 20px;
		box-shadow: 0 10px 13px 5px #e1e6ee;
		min-height: 424px;
		p
			font-size: 16px
			margin-bottom: 10px
			&:nth-of-type(1)
				font-family: "OpenSansBold", sans-serif
			&:last-of-type
				margin-bottom: 0
.rev-img
	width 100px
	height 100px
	background-repeat no-repeat
	background-position: center
	background-size contain
	display: table-cell
	vertical-align: middle
	&-1
		background-image url(../img/revs/rev_1.png)
	&-2
		background-image url(../img/revs/rev_2.png)
	&-3
		background-image url(../img/revs/rev_3.png)
