section#main
	.container
		.pre-main
			p Бесплатный онлайн-мастер-класс
		h1.main-title 
			span Метафизика - 
			small  3 шага к восстановлению 
			| души и тела
		p.main-date с NN по NN месяца, в 19:00мск
		p.main-author Автор: 
			span Жанна Абрамова