section#second
	.container
		.materials
			.row
				.col-md-6.col-sm-6
					p.second-text.bonus-name Скачать материалы
					a.button.button-materials(href="" ) Скачать 
						i.fa.fa-file-text(aria-hidden="true")
				.col-md-6.col-sm-6
					p.second-text.bonus-name Скачать книгу
					a.button.button-book(href="" ) Скачать 
						i.fa.fa-book(aria-hidden="true")
		p.second-text Регистрируйтесь в любой удобный для Вас мессенджер и оставайтесь на связи, чтобы не пропустить мастер-класс. Если наше письмо по каким либо причинам не дойдет до Вас, то ссылку на прямой эфир Вы получите в выбранный  Вами мессенджер
		.soc-buttons
			a.soc-buttons-link.soc-button-vk(href="https://bot.mastervision.su/bot/public/link?type=course&soc=vk&id=34" target="_blank") 
				i.fa.fa-vk(aria-hidden="true")
			a.soc-buttons-link.soc-button-ms(href="https://m.me/1726493250936970?ref=c34" target="_blank") 
				i.fa.fa-facebook-official(aria-hidden="true")
			a.soc-buttons-link.soc-button-tg(href="https://bot.mastervision.su/bot/public/tg/tg_url/c34" target="_blank") 
				i.fa.fa-telegram(aria-hidden="true")