section#changes
	.container
		h3.general-title.general-title-changes Как прохождение курса 
			span изменит Вашу жизнь
		.row
			.col-md-6.col-sm-6
				p.changes-text Вы измените свой жизненный сценарий, запустив процесс заболевания
			.col-md-6.col-sm-6
				p.changes-text Вы сможете двигаться вперед, а не застревать в своих травмах и страхах
		.row
			.col-md-6.col-sm-6
				p.changes-text Вы сможете строить семью, рожать детей, зарабатывать деньги, без страха потери
			.col-md-6.col-sm-6
				p.changes-text Вы сможете сокращать период заболеваний в 5 раз
		.row
			.col-md-6.col-sm-6
				p.changes-text Вы сможете предотвращать серьезные заболевания
			.col-md-6.col-sm-6
				p.changes-text Вы сможете работать с заболеваниями других людей и на этом зарабатывать деньги
		p.changes-aftertext После прохождения курса участники смогут быть специалистами в области работы с физическими и ментальными заболеваниями
		p.changes-aftertext
			span Процессор метафизики 
			| - специалист, который сможет зарабатывать 
			span от 100 тыс. руб в месяц
			| , не выходя из дома. Все консультации эффективны при работе через онлайн
section#janna-talks
	.container
		p.janna-talks-text Мой отец, увы, всю свою жизнь боролся с онкологией, но ему так и не удалось победить этот страшный недуг. Всю свою жизнь меня пугали, что необходимо проверять свой организм, чтобы предотвратить онкологию.  Я очень похожа на отца, поэтому решила разобраться прежде всего с ментальной составляющей возникновения рака. Пройдя огромное количество курсов на тему психосоматики у зарубежных коллег, плюс через собственную долголетнюю практику в работе с людьми, у меня сложилось четкое представление о том, как и почему возникают физические заболевания. В итоге, я смогла скорректировать собственный жизненный сценарий, который мог бы меня привести к серьезному заболеванию. Я знаю этот сценарий, он проработан и теперь у моего организма нет нужды включать программу неосознанного самоустранения. Я дам пошаговую методику по выявлению сценария, запускающего процесс заболевания и пошаговую инструкцию по нейтрализации этого сценария. Так же я дам методику по манифестации здоровья и благополучия