section#for
	.container
		h3.general-title.general-title-for Этот курс 
			span для тех,
			| &nbsp;кто:
		.row
			.col-md-6.col-sm-6
				p.changes-text хочет научиться исцелять заболевания через проработку пиковых состояний
			.col-md-6.col-sm-6
				p.changes-text хотел бы стать эффективным специалистом в области метафизики
		.row
			.col-md-6.col-sm-6
				p.changes-text отчаялся в исцелении своих заболеваний
			.col-md-6.col-sm-6
				p.changes-text хотел бы разобраться в причинах своих заболеваний
		.row
			.col-md-6.col-sm-6
				p.changes-text хотел бы не заглушать симптомы заболевания, а именно исцелять через проработку причин заболевания
			.col-md-6.col-sm-6
				p.changes-text хотел бы получить новую технологию исцеления болезней, безденежья, недугов