section#get
	.container
		p.get-text 
			span Метафизика 
			| – методика, которая позволяет найти первопричину заболевания. 
		p.get-text 
			span Первопричина заболевания 
			| – внутренний конфликт, с которым человек не справился в момент травмирующей ситуации. Как правила, эту ситуацию мы не помним, либо память о травмирующем родовом событии передана нам на уровне генной памяти. Задача метафизики – найти это событие, устранить конфликт, активировать ресурс и позволить этому ресурсу интегрироваться в наше сознание. 
		p.get-text 
			span Метафизика 
			| – это наука о первопричинах проблематики. У каждой проблемы существуют свои корни. Только найдя и устранив эти корни, можно избавиться от любого рода проблемы и заболевания. 
		p.get-text 
			span Метафизика 
			| - это наука о том, как активировать в себе здоровые клетки, финансовый поток, здоровые отношения, любого рода ресурсность
		p.get-text 
			span Здоровье человека 
			|– не просто совокупность биохимических процессов, а сложнейшая система, на которую влияет множество факторов: наше настроение, мысли, отношения с собой, семьей или посторонними людьми – словом, все, что происходит с нами и вокруг нас… Метафизика - техника, которая помогла тысячам людей вернуть здоровье, финансовое благополучие, здоровые отношения и ресурсное состояние. 
		p.get-text 
			span В основе любой болезни лежит внутренний конфликт 
			|– бессознательная разрушительная негативная установка. И для того, чтобы исцелиться от недуга, надо в первую очередь осознать и устранить ее.
		p.text-decorated Разобраться в себе и избавиться от недуга поможет пошаговая инструкция по Метафизике. Пройдя курс Метафизики - вы научитесь находить те эмоциональные конфликты, которые стоят во главе всех заболеваний. Обучившись метафизике, вы сможете находить выход из замкнутого круга неудач и болезней своей жизни и жизни ваших близких и клиентов. Это методика, которая будет служить вам основным методом исцеления, либо суперэффективным дополнительным методом к вашей основной методике в работе с людьми
		h3.title-decorated 
			span Что  даст вам курс
		.row
			.col-md-5.col-sm-5.col-md-push-7.col-sm-push-7
				.video-wrapper.video-wrapper-reach
					iframe(src="https://youtube.com/embed/yAkWZvAuqsA?rel=0&muted=1&autoplay=0" allowfullscreen)
			.col-md-7.col-sm-7.col-md-pull-5.col-sm-pull-5
				ul.reach-list
					li Вы научитесь находить первопричину заболеваний
					li Научитесь исцелению травм клеток
					li Научитесь исцелять травмы, которые привели к заболеваниям
					li Научитесь работать с самосаботажем и  вторичными выгодами бессознательного удержания заболевания 
					li Узнаете  как работать с  неврозами и навязчивыми состояниями
					li Научитесь манифестировать здоровье и успех
					li Создадите новую идентификацию  благополучной личности
					li Избавитесь от череды болезней, травм и неприятностей
		a.button.button-get(href="#prices") Участвовать