section#main
	.container
		.pre 
			p Обучающий курс
		h1.main-title Метафизика – 
			span восстановление души и тела
		p.main-author 
			span Автор: 
			| Жанна Абрамова
		a.button.button-main(href="#prices") Записаться