section#revs
	.container
		h3.title-decorated 
			span Отзывы учеников
		.row
			.col-md-6.col-sm-6
				#video-revs.carousel.slide(data-ride="carousel" data-interval="false")
					.carousel-inner(role="listbox")
						.item.active
							.video-wrapper.revs-video-wrapper(data-youtube="J0gbCyy1tes" data-img="../img/revs/video_1.jpg")
								img(src="../img/revs/video_1.jpg", alt="Отзыв о Жанне Абрамовой 1")
						.item
							.video-wrapper.revs-video-wrapper(data-youtube="zexrNBJSQkU" data-img="../img/revs/video_2.jpg")
								img(src="../img/revs/video_2.jpg", alt="Отзыв о Жанне Абрамовой 2")
						.item
							.video-wrapper.revs-video-wrapper(data-youtube="D064kkmJ86E" data-img="../img/revs/video_3.jpg")
								img(src="../img/revs/video_3.jpg", alt="Отзыв о Жанне Абрамовой 3")
						.item
							.video-wrapper.revs-video-wrapper(data-youtube="hG9GmxK94VQ" data-img="../img/revs/video_4.jpg")
								img(src="../img/revs/video_4.jpg", alt="Отзыв о Жанне Абрамовой 4")
						.item
							.video-wrapper.revs-video-wrapper(data-youtube="91a9ORXMiB8" data-img="../img/revs/video_5.jpg")
								img(src="../img/revs/video_5.jpg", alt="Отзыв о Жанне Абрамовой 5")
						.item
							.video-wrapper.revs-video-wrapper(data-youtube="yDAFv7SnZ3A" data-img="../img/revs/video_6.jpg")
								img(src="../img/revs/video_6.jpg", alt="Отзыв о Жанне Абрамовой 6")
					.controls.video-controls
						a( class="left carousel-control" href="#video-revs" role="button" data-slide="prev") <
						a( class="right carousel-control" href="#video-revs" role="button" data-slide="next") >
					ol.carousel-indicators.video-revs-indicators
						li.active( data-target="#video-revs" data-slide-to="0")
						li( data-target="#video-revs" data-slide-to="1")
						li( data-target="#video-revs" data-slide-to="2")
						li( data-target="#video-revs" data-slide-to="3")
						li( data-target="#video-revs" data-slide-to="4")
						li( data-target="#video-revs" data-slide-to="5")
			.col-md-6.col-sm-6
				#text-revs.carousel.slide(data-ride="carousel" data-interval="false")
					.carousel-inner(role="listbox")
						.item.active
							a(href="../img/revs/text_11.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_11.jpg", alt="Отзыв о Жанне Абрамовой 11")
						.item
							a(href="../img/revs/text_0.png" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_0.png", alt="Отзыв о Жанне Абрамовой 0")
						.item
							a(href="../img/revs/text_1.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_1.jpg", alt="Отзыв о Жанне Абрамовой 1")
						.item
							a(href="../img/revs/text_2.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_2.jpg", alt="Отзыв о Жанне Абрамовой 2")
						.item
							a(href="../img/revs/text_3.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_3.jpg", alt="Отзыв о Жанне Абрамовой 3")
						.item
							a(href="../img/revs/text_7.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_7.jpg", alt="Отзыв о Жанне Абрамовой 7")
						.item
							a(href="../img/revs/text_12.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_12.jpg", alt="Отзыв о Жанне Абрамовой 12")
						.item
							a(href="../img/revs/text_14.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_14.jpg", alt="Отзыв о Жанне Абрамовой 14")
						.item
							a(href="../img/revs/text_15.jpg" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_15.jpg", alt="Отзыв о Жанне Абрамовой 15")
						.item
							a(href="../img/revs/text_17.png" data-fancybox="jannas-texts").text-revs-link
								img(src="../img/revs/text_17.png", alt="Отзыв о Жанне Абрамовой 17")
					.controls.text-controls
						a( class="left carousel-control" href="#text-revs" role="button" data-slide="prev") <
						a( class="right carousel-control" href="#text-revs" role="button" data-slide="next") >
					ol.carousel-indicators.video-revs-indicators
						li.active( data-target="#text-revs" data-slide-to="0")
						li( data-target="#text-revs" data-slide-to="1")
						li( data-target="#text-revs" data-slide-to="2")
						li( data-target="#text-revs" data-slide-to="3")
						li( data-target="#text-revs" data-slide-to="4")
						li( data-target="#text-revs" data-slide-to="5")
						li( data-target="#text-revs" data-slide-to="6")
						li( data-target="#text-revs" data-slide-to="7")
						li( data-target="#text-revs" data-slide-to="8")
						li( data-target="#text-revs" data-slide-to="9")