section#main
	.container
		h1.main-title Домашнее задание к онлайн-мастер-классу 
			span по Метафизике
		.row
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/" allowfulscreen)
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/" allowfulscreen)
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/" allowfulscreen)