section#main
	.container
		h1.main-title Домашнее задание к онлайн-мастер-классу 
			span по Метафизике
		.row
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/_klhhIB7ff4" allowfulscreen)
				a.button.button-main(href="../content/exercise-1.pptx" download) Скачать тетрадь
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/XdvNP1_EL5Y" allowfulscreen)
				a.button.button-main(href="../content/exercise-2.pptx" download) Скачать тетрадь
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/SSrgN1aQTxs" allowfulscreen)
				a.button.button-main(href="../content/exercise-3.pptx" download) Скачать тетрадь