header
	padding 25px 0
#logo
	width 213px
	height 17px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	float left
.contacts
	float right
	text-align: right
.contact
	line-height: 17px
	font-size: 16px
	font-family: "Arial", sans-serif
	padding-left: 27px
	background-repeat no-repeat
	background-position: left center
	background-size: contain
	margin-left: 18px
	color: #000
	&:focus
		color #000
		text-decoration: none
	&:hover
		color #000
		text-decoration: underline
.contact-tel
	background-image url(../img/icons/phone.png)
	margin-left: 0
.contact-skype
	background-image url(../img/icons/skype.png)
.contact-envelope
	background-image url(../img/icons/envelope.png)
	padding-left: 33px;
