.main-title
.main-author span
.second-title
.title-decorated
.author-title
.certs-title
.day-about-title
.day-info-title
.day-about-subtitle
.last-container-title
.modal-title 
.button
	font-weight: 900
.text-decorated
.day-about-bonus
.day-info-text-bold
	font-weight: bold
.author-text
.day-about-bq
	font-style: italic
.title-decorated
	max-width 700px
.for-text
	max-width 350px
.author-title
	max-width 560px
.last-container-title
	max-width 900px